body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #f4f6f8;
}

h1{
    text-align: center;
}
.card {
    padding: 60px;
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 14px;
    border-bottom: 1px solid #e5e7eb;
}

button a{
    color: black;
    display: grid;
    text-decoration: none;
}
button a:hover{
    background-color: lightblue;}