.navi{
    position: fixed;
    color: lightyellow;
    font-size: 30;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(189, 176, 62);
    border-radius: 10px;
    padding: 10px 20px;
    width: 95%;
}
.navi_link{
    list-style: none;
    display: flex;
    gap: 20px;
}
.navi_link li a{
    color: lightyellow;
    text-decoration: none;
    font-size: 16;
}
h1{
    font-size: 50;
    color: darkslategray;
}
p{
    font-size: 20;
    color: black;
}
#home{
    padding-top: 125;
    display: flex;
    flex-direction: column;
}
.home{
    display: flex;
}
#info{
    padding-left: 30;
}
button a{
    color: black;
    display: grid;
    text-decoration: none;
}
button a:hover{
    background-color: lightblue;
}
section{
    padding-top: 200;
    padding-bottom: 200;
}
body {
    font-family: Arial, sans-serif;
    background: lightyellow;
    padding: 20px;
}
